* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#glass {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: #5143a398;
  backdrop-filter: blur(100px);
}

.madeby {
  color: black;
}

.madeby a {
  color: rgb(124, 57, 18);
}

input[type="checkbox"] {
  vertical-align: middle;
}

#blurOutput,
#transparencyOutput {
  display: inline-block;
  vertical-align: top;
}

.main {
  cursor: unset;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50ch;
  z-index: 2;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
}

#blob {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  height: 50rem;
  width: 50rem;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: #d15454;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
